:root {
  --game-board-color: #94c1ff;
  --cell-boarder-color: #7fa6db;
}

body {
  display: grid;
  grid-template-columns: auto 700px auto;
  grid-template-rows: auto 600px auto;
  grid-template-areas: "header header header"
                      "sidebar-left game sidebar-right"
                      "footer footer footer";
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(242, 229, 206);
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  font-size: 40px;
  margin: 0 auto;
}

#game-messages {
  font-size: 20px;
  font-style: italic;
}

.sidebar {
  display: flex;
  margin: 0 30px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#sidebar-left {
  grid-area: sidebar-left;
}

#sidebar-right {
  grid-area: sidebar-right;
}

#game-board {
  grid-area: game;
  display: grid;
  grid-template-columns: repeat(7, 14.3%);
  grid-template-rows: repeat(6, 16.7%);
  background-color: var(--game-board-color);
  border-radius: 5%;
}

.cell {
  border: 5px solid;
  border-color: var(--cell-boarder-color);
  border-radius: 50%;
}

#button-container {
  grid-area: footer;
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 10%;
  color: black;
  margin: 0 3px;
  width: 70px;
  height: 40px;
  font-size: 18px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 1;
}