body {
  display: grid;
  grid-template-columns: auto 700px auto;
  grid-template-rows: auto 600px auto;
  grid-template-areas: "header header header"
                      "sidebar-left game sidebar-right"
                      "footer footer footer";
  height: 100vh;
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  color: white;
}

#game-board {
  grid-area: game;
  display: grid;
  grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
  grid-template-rows: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
  background-color: #ff7575;
}

.cell {
  border-radius: 50%;
}

#button-container {
  grid-area: footer;
  display: flex;
  justify-content: center;
}